# --- OS & Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# --- Go ---
# Binaries
*.exe
*.test
*.out
# Go workspace
go.work

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
dist/
build/
*.egg-info/
# Virtual environments
venv/
.venv/
env/
.env

# --- Project Specific ---
book/
